@import "./Generic.css";

#Hero {
	display: grid;
	grid-template-columns: 40% 58%;
	grid-template-rows: auto auto;
	gap: 15px;
}

.Skills {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	gap: 10px;
}

.skill-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid var(--border-outline);
	border-radius: 5px;
	background: var(--dim-background);
	padding: 30px 5px;
	cursor: pointer;
}

.wrapper .item:nth-child(odd) {
	color: var(--orange-color);
}

.item {
	color: #fafafa80;
	font-size: 22px;
	font-weight: bold;
}

.project-box {
	border: 2px solid var(--border-outline);
	border-radius: 5px;
}

.project-box i {
	border: 1.5px solid var(--border-outline);
	padding: 15px;
	border-radius: 50%;
	transform: rotate(320deg);
	transition: all 0.5s ease;
	cursor: pointer;
}

.project-box i:hover {
	background: var(--orange-color);
	transform: rotate(0);
}

.project-box img {
	filter: grayscale(1) contrast(1.2) blur(1.5px);
	transform: scale(1.02);
	transition: 0.3s all ease-out;
}
.project-box img:hover {
	filter: none;
	transform: scale(1);
}

.mini-box {
	width: 22.5rem;
}

.service-box {
	background: var(--dim-background);
	transition: 0.3s ease;
}
.service-box:hover {
	background: #fafafa1d;
}
.service-box:hover .service-title {
	color: var(--orange-color);
}

.service-details li {
	margin-bottom: 7px;
	display: flex;
	align-items: center;
}

.service-details li i {
	padding: 7px;
	font-size: 10px;
	margin-right: 10px;
	border: 1px solid var(--border-outline);
	border-radius: 50%;
	transition: 0.2s ease;
}

.service-details li:hover i {
	background: var(--orange-color);
}

.social-container p {
	transition: 0.3s ease;
}

.social-container a:hover p {
	transform: translate(0px, -70px);
}

.social-container a:hover i {
	display: block;
	text-align: center;
	transform: translate(0px, 0px);
}

.social-container i {
	z-index: -1;
	position: absolute;
	transform: translate(0px, 70px);
	transition: 0.3s ease;
}

.social-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
